<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">

  <Properties>
    <Property name="filename">logs/planner.log</Property>
  </Properties>

  <appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <File name="FILE" fileName="${filename}">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>


  </appenders>

  <loggers>

    <logger name="ConsoleLogger"  additivity="false">
      <appender-ref ref="STDOUT"/>
    </logger>


    <logger name="FileLogger" additivity="false">
      <appender-ref ref="FILE"/>
    </logger>


    <!--"%d{ABSOLUTE} %-5p [%c{1}] [%t] %m%n"-->
    <!--%d %p %C{1.} [%t] %m%n-->

    <root level="trace">
      <!--<appender-ref ref="STDOUT" level="INFO"/>-->
      <appender-ref ref="FILE"   level="debug"/>
    </root>
  </loggers>

</configuration>