<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        
  <appender name="file-appender" class="org.apache.log4j.FileAppender">
    <param name="File" value="logs/db-action-tests.txt"/>
    <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] [%t] %m%n"/>
    </layout>
  </appender>
   
  <appender name="console-appender" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] [%t] %m%n"/>
		</layout>
	</appender> 

  <root>
    <priority value="debug" />
    <appender-ref ref="file-appender"/>
	<appender-ref ref="console-appender"/>
  </root>

</log4j:configuration>